#AllUsers {
    display: grid;
    grid-template-rows: 10% 75% 15%;
    overflow: hidden;
    background-color: #080420;
}
#AllUsers .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
#AllUsers .brand img {
    height: 2rem;
}
#AllUsers .brand h3 {
    color: white;
    text-transform: uppercase;
}
#AllUsers .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;
}
#AllUsers .contacts::-webkit-scrollbar {
    width: 0.2rem;
}
#AllUsers .contacts::-webkit-scrollbar-thumb {
    background-color: #ffffff39;
    width: 0.1rem;
    border-radius: 1rem;
}
#AllUsers .contacts .contact {
    background-color: #ffffff34;
    min-height: 5rem;
    cursor: pointer;
    width: 90%;
    border-radius: 0.2rem;
    padding: 0.4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 0.5s ease-in-out;
}
#AllUsers .contacts .contact .avatar img {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}
#AllUsers .contacts .contact .username h3 {
    color: white;
}
#AllUsers .contacts .selected {
    background-color: #9a86f3;
}
#AllUsers .current-user {
    background-color: #0d0d30;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#AllUsers .current-user .avatar img {
    height: 3rem;
    width: 3rem;
    max-inline-size: 100%;
    border-radius: 100%;
}

#AllUsers .current-user .avatar input{
    height: 3rem;
    width: 3rem;
    z-index: 10;
    position: absolute;
    opacity: 0;
    border-radius: 100%;
    cursor: pointer
}

#AllUsers .current-user .username h2 {
    color: white;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
    #AllUsers .current-user {
        gap: 0.5rem;
    }
    #AllUsers .current-user .username h2 {
        font-size: 1rem;
    }
}
      