#StartChat {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #393939;
    flex-direction: column;
}

#StartChat img {
    height: 25rem;
}

#StartChat span {
    color: #FDB2B0;
}

#StartChat .logout {
    margin-top: 1rem;
    margin-left: auto !important;
    margin-right: 1.5rem;
    flex: 6%;
}

#StartChat .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 94%;
}

#StartChat .content h1 {
    font-size: 2.5rem;
}

#StartChat .content h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
}